@require "../../mixins/breakpoints.styl"

/*


		css-column based grid-system


*/
/*
.col-count1from990, .col-count2from990, .col-count3from990,
.col-count1upto990, .col-count2upto990, .col-count3upto990,
.col-count1upto768, .col-count2upto768, .col-count3upto768,
.col-count1upto640, .col-count2upto640, .col-count3upto640,
.col-count1upto480, .col-count2upto480, .col-count3upto480
	break-inside: avoid
    column-gap: 40px

.col-gap-small
	column-gap: 10px

.col-gap-medium
	column-gap: 20px

.col-gap-large
	column-gap: 40px
	
.col-count1
	column-count: 1

.col-count2
	column-count: 2

.col-count3
	column-count: 3
*/	
+bp(min990)
    .col-count1from990
    	column-count: 1
        
    .col-count2from990
        column-count: 2
        
    .col-count3from990
        column-count: 3
        

+bp(max989)
    .col-count1upto990
        column-count: 1
        
    .col-count2upto990
        column-count: 2
        
    .col-count3upto990
        column-count: 3
        

+bp(max767)
    .col-count1upto768
        column-count: 1
        
    .col-count2upto768
        column-count: 2
        
    .col-count3upto768
        column-count: 3
        

+bp(max639)
    .col-count1upto640
        column-count: 1
        
    .col-count2upto640
        column-count: 2
        
    .col-count3upto640
        column-count: 3
        

+bp(max479)
    .col-count1upto480
        column-count: 1
        
    .col-count2upto480
        column-count: 2
        
    .col-count3upto480
        column-count: 3
