@import '../../config/default'
@import '../../mixins/*'

/*


    Standardized themeable grouping element

    Markup example:

    <div class="mod">
      <div class="mod__hd"> Title </div>
      <div class="mod__bd"> content </div>
      <div class="mod__ft"> </div>
    </div>



*/

// themeable vars - defaults (scoping?)
$hover-outline = 2px solid $secondary-blue
$small-screen-padding = 8px
$large-screen-padding = 16px

// Override with theme
// @require 'themes.styl'

.mod
  display: block
  padding: $small-screen-padding
  &__hd,
  &__bd,
  &__ft
    overflow: hidden
  &--is-clickable:focus,
  &--is-clickable:hover
    outline:$hover-outline
    outline-offset: -2px;
  &--green
    &:focus,
    &:hover
      outline-color: $mint
    & .mod__bd
      background-color: $mint
  &--banana
    &:focus,
    &:hover
      outline-color: $banana
    & .mod__bd
      background-color: $banana
  &--green .mod__bd,
  &--banana .mod__bd
    +bp(min480)
      padding: $small-screen-padding
    +bp(min768)
      padding: $large-screen-padding


//

.mod h1, .mod h2, .mod h3, .mod h4, .mod h5, .mod h6,
.mod ul, .mod ol,
.mod p,
.mod blockquote,
.mod .media
    margin:0;


+bp(min768)
  .mod
    padding: $large-screen-padding
    /*
  .mod h1, .mod h2, .mod h3, .mod h4, .mod h5, .mod h6,
  .mod ul, .mod ol,
  .mod p,
  .mod blockquote,
  .mod .media
    margin: 0px;
*/
