/*
a.tagword
     display: inline-block;
    padding: 2px 4px 0 0;
    text-transform: lowercase;
}
a.tagword:before {
    content: '#';
    color: var($stone);
}
a.tagword.editable:before, .editable a.tagword:before {
    content: '';
    color: var($stone);
}
a.tagword.editable:after, .editable a.tagword:after {
    content: '';
    margin-left: 5px;
    height: 8px;
    width: 8px;
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgOCA4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZmlsbD0iIzlCQThCMSIgZD0iTTUuNiw0TDgsNi40TDYuNCw4TDQsNS42TDEuNiw4TDAsNi40TDIuNCw0TDAsMS42TDEuNiwwTDQsMi40TDYuNCwwTDgsMS42TDUuNiw0eiIvPgo8L2c+Cjwvc3ZnPg==);
}
a.tagword.editable, .editable a.tagword {
    background-color: var($licorice);
    border-radius: 2px;
    padding: 4px 8px;
    color: var($milk);
    margin-top: 10px;
}
a.tagword.editable:hover, .editable a.tagword:hover,
a.tagword.editable:focus, .editable a.tagword:focus {
    background-color: var($stone);
    text-decoration: none;
}
*/