@import '../../config/default'
@import '../../mixins/*'

$base-color = $licorice

$small-screen-d1-size = 0.8rem
$small-screen-base-size = 18px
$small-screen-h5-size = 0.8rem
$small-screen-h4-size = 1rem
$small-screen-h3-size = 1.25rem
$small-screen-h2-size = 1.555rem
$small-screen-h1-size = 2rem

$large-screen-d1-size = 0.8rem
$large-screen-base-size = 18px
$large-screen-h5-size = 0.8rem
$large-screen-h4-size = 1rem
$large-screen-h3-size = 1.3rem
$large-screen-h2-size = 1.7rem
$large-screen-h1-size = 2.25rem

$small-screen-d1-lineheight = 1.3
$small-screen-base-lineheight = 1.45
$small-screen-h5-lineheight = 1.3
$small-screen-h4-lineheight = 1.45
$small-screen-h3-lineheight = 1.35
$small-screen-h2-lineheight = 1.3
$small-screen-h1-lineheight = 1.22

$large-screen-d1-lineheight = 1.3
$large-screen-base-lineheight = 1.6
$large-screen-h5-lineheight = 1.3
$large-screen-h4-lineheight = 1.6
$large-screen-h3-lineheight = 1.34
$large-screen-h2-lineheight = 1.26
$large-screen-h1-lineheight = 1.2

@font-face
    font-family: 'Finntype'
    src: url("../css/core/typography/FINNTypeWebStrippet-light.woff") format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Finntype'
    src: url("../css/core/typography/FINNTypeWebStrippet-medium.woff") format('woff')
    font-weight: bold
    font-style: normal

@font-face
    font-family: HelveticaTweaked
    src: local('HelveticaNeue-Light')
    font-weight: normal


@font-face
    font-family: HelveticaTweaked
    src: local('HelveticaNeue')
    font-weight: bold

html
    font-size: $small-screen-base-size

body
    font: $small-screen-base-size/$small-screen-base-lineheight Finntype, HelveticaTweaked, Arial, Helvetica, sans-serif;
    color: $base-color

table
    font-size: inherit
    font: 100%

pre, code, kbd, samp, tt
    font-family: monospace
    line-height: 100%

code
    color: #0B8C8F


/* ====== Headings ====== */
/* if additional headings are needed they should be created via additional classes, never via location dependant styling */

h1, .h1, .t1
    font-size: $small-screen-h1-size
    line-height: $small-screen-h1-lineheight

h2, .h2, .t2
    font-size: $small-screen-h2-size
    line-height: $small-screen-h2-lineheight

h3, .h3, .t3
    font-size: $small-screen-h3-size
    line-height: $small-screen-h3-lineheight

h4, .h4, .t4
    font-size: $small-screen-h4-size
    line-height: $small-screen-h4-lineheight

h5, .h5, .t5
    font-size: $small-screen-base-size
    line-height: $small-screen-h5-lineheight

h1, h2, h3, h4, .h1, .h2, .h3, .h4, .t1, .t2, .t3, .t4
    font-weight: 300
    /* firefox translates normal to 400 other browsers 300 */

h5, .h5, .t5
    font-weight: bold

.b1
    font-size: $small-screen-base-size

.d1
    font-size: $small-screen-d1-size



$small-screen-block-element-margin = 8px 8px
$large-screen-block-element-margin = 16px 16px

h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote,
.media
    margin: $small-screen-block-element-margin



dt, dd
    margin: 0  16px

h1, h2, h3, h4, h5, h6, img
    padding-bottom: 0px

pre
    margin:  32px

table h1, table h2, table h3, table h4, table h5, table h6,
table p,
table ul, table ol,
table dl
    padding: 0


+bp(min768)
	h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote,
	.media
	    margin: $large-screen-block-element-margin



+bp(min480)
    body
        font-size: $large-screen-base-size

    h1:not(.fixed-font-size),
    .h1:not(.fixed-font-size),
    .t1:not(.fixed-font-size)
        font-size: $large-screen-h1-size
        line-height: $large-screen-h1-lineheight

    h2:not(.fixed-font-size),
    .h2:not(.fixed-font-size),
    .t2:not(.fixed-font-size)
        font-size: $large-screen-h2-size
        line-height: $large-screen-h2-lineheight

    h3:not(.fixed-font-size),
    .h3:not(.fixed-font-size),
    .t3:not(.fixed-font-size)
        font-size: $large-screen-h3-size
        line-height: $large-screen-h3-lineheight

    h4:not(.fixed-font-size),
    .h4:not(.fixed-font-size),
    .t4:not(.fixed-font-size)
        font-size: $large-screen-h4-size
        line-height: $large-screen-h4-lineheight

    h5:not(.fixed-font-size),
    .h5:not(.fixed-font-size),
    .t5:not(.fixed-font-size)
        font-size: $large-screen-base-size
        line-height: $large-screen-base-lineheight

    .b1:not(.fixed-font-size)
        font-size: $large-screen-base-size

    .d1:not(.fixed-font-size)
        font-size: $large-screen-d1-size




.em
    font-style: italic

.strong
    font-weight: bold

.normal
    font-weight: normal

.justify
    text-align: justify

.strikethrough
    text-decoration: line-through

.capitalize:first-letter
    text-transform: capitalize

.uppercase
    text-transform: uppercase


$link-color = $primary-blue
$link-decoration = none

$link-hover-color = $primary-blue
$link-hover-decoration = underline

$link-visited-color = $stone
$link-visited-decoration = none

$link-visited-hover-color = $stone
$link-visited-hover-decoration = underline


a, a:link
    color: $link-color
    text-decoration: none
a:visited
    color: $link-color
    text-decoration: none
a:hover,
a:focus,
a:active
    text-decoration: underline

a.userhistory:visited,
.userhistory a:visited
    color: $link-visited-color
a.userhistory:visited:hover,
.userhistory a:visited:hover
    color: $link-visited-hover-color

a.contrast:link,
.contrast a:link
    color: $milk

a.contrast:visited,
.contrast a:visited
    color: $milk

a.contrast:focus,
.contrast a:hover
    color: $milk

a.contrast:focus,
.contrast a:focus,
a.contrast:active,
.contrast a:active
    background: transparent

a.contrast.userhistory:link,
.contrast.userhistory a:link
    color: $milk

a.contrast.userhistory:visited,
.contrast.userhistory a:visited
    color: $sardine

a.contrast.userhistory:focus,
.contrast.userhistory a:hover
    color: $milk

a.dark-links,
a.dark-links:link,
.dark-links a,
.dark-links a:link
    color: $licorice

a.dark-links:visited,
.dark-links a:visited
    color: $licorice

a.dark-links:hover,
.dark-links a:hover,
a.dark-links:focus,
.dark-links a:focus,
a.dark-links:active,
.dark-links a:active
    text-decoration: underline


a.linkblock:hover,
.linkblock a:hover,
a.linkblock:active,
.linkblock a:active,
a.linkblock:focus,
.linkblock a:focus,
button.blank.linkblock:hover,
button.blank.linkblock:active,
button.blank.linkblock:focus
    text-decoration: none
/*
a.toolbar,
a.toolbar:link,
.toolbar a,
.toolbar a:link {
    color: var($licorice);
    text-decoration: none;
}
a.toolbar:visited, .toolbar a:visited {
    color: var($licorice);
    text-decoration: none;
}
a.toolbar:hover, .toolbar a:hover, a.toolbar:focus, .toolbar a:focus {
    color: var($licorice);
    text-decoration: none;
}
a.toolbar:active, .toolbar a:active {
    color: var($licorice);
    text-decoration: none;
}


*/
/* use probably-touch instead
@media (width <= 1024px) {
    /* Prevents underline on touch/click on mobile
    a:link, a:visited, a:hover, a:focus, a:active { text-decoration: none !important; }
}
*/
