@import '../../config/default'
@import '../../mixins/*'

/*

  
    Standardized themeable grouping element 

    Markup example:
    
    <div class="box">
      <div class="box__header"> Title </div>
      <div class="box__body"> content </div>
      <div class="box__footer"> </div>
    </div>



*/

// themeable vars - defaults (scoping?) 
$hover-outline = 2px solid $secondary-blue
$small-screen-margin = 8px
$big-screen-margin = 16px

// Override with theme 
// @require 'themes.styl'

.box
  display: block
  margin: $small-screen-margin  
  &__header,    
  &__body,
  &__footer
    overflow: hidden
  &--clickable:focus,
  &--clickable:hover
    outline:$hover-outline

  &--green
    background-color: mint
    border:2px solid pea
 
+bp(min768)
  .box
    margin: $big-screen-margin