.debug
    .box
        outline: 1px solid red
        outline-offset: -1px
        .hd
            outline: 1px solid blue
            outline-offset: -1px
        .bd
            outline: 1px solid yellow
            outline-offset: -1px
        .ft
            outline: 1px solid green
            outline-offset: -1px

    .line
        outline: 1px solid #eee
        outline-offset: -1px
        .unit
            outline: 1px solid #ccc
            outline-offset: -1px
        
    