
/* 


		Usage: bp( {breakpoint1} [breakpoint(n)] )
		
		{breakpoints}
		480, 640, 768, 900, 990, 1235, 1300
				
		.sidebar
			color: red
			+bp(max480)
				color: green

		.sidebar
			color: red
			+bp(min460 max767)
				color: green

*/

// TUDO: Should this thing accept custom values?

$media_queries = {
	max480			: "(max-width: 479px)",
	min480 			: "(min-width: 480px)",
	max640 			: "(max-width: 639px)",
	min640 			: "(min-width: 640px)",
	max768 			: "(max-width: 767px)",
	min768 			: "(min-width: 768px)",
	max900 			: "(max-width: 899px)",
	min900 			: "(min-width: 900px)",
	max990 			: "(max-width: 989px)",
	min990 			: "(min-width: 990px)",
	max1235 		: "(max-width: 1234px)",
	min1235 		: "(min-width: 1235px)",
	max1300 		: "(max-width: 1234px)",
	min1300 		: "(min-width: 1235px)",
	portrait 		: "(orientation portrait)",
	landscape 		: "(orientation landscape)"
}

bp(breakpoints)
	conditions = ()
	for breakpoint in breakpoints
		push(conditions, $media_queries[breakpoint])
	conditions = join("and ", conditions)
	@media conditions 
		{block}
