body, html 
  background-color: ice

.page
  width: auto
  _text-align: left
  margin-left: 2px
  margin-right: 2px

@media not all and (max-width: 767px)
  .page
    max-width: 995px
    margin-left: 31px
    margin-right: 31px

  /* These are dictated by the banner formats, might aswell be considered as constants */
  .container 
    max-width: 1010px
    margin: 0 auto
