$page-gutter-small-screen = 0
$page-gutter-large-screen = 15px
$content-max-width = 995px

  
body
  overflow-y: scroll
  
body, html 
  background-color: $milk
  
// turn off focus for touch devices (Relies on a script that sets .probably-touch class on body)  
.probably-touch:focus, .probably-touch :focus { outline: none; }


.page
  width: auto
  _text-align: left
  margin-left: $page-gutter-small-screen
  margin-right: $page-gutter-small-screen

+bp(min480)
  .page
    max-width: $content-max-width
    margin-left: $page-gutter-large-screen
    margin-right: $page-gutter-large-screen

  /* These are dictated by the banner formats, might aswell be considered as constants */
  .container 
    max-width: 1010px
    margin: 0

+bp(min1300)
  .container
    margin: 0 auto