
/* Do not use directly in you component, assign to component specific variables */



colorpalette = 'primary-blue', 'secondary-blue', 'toothpaste', 'licorice', 'stone', 'sardine', 'ice', 'milk', 'avocado', 'pea', 'mint', 'cherry', 'watermelon', 'salmon', 'banana'
	

/*
finncolors = primary-blue #0063FB,
	secondary-blue #06BEFB,
	toothpaste #B6F0FF,
	licorice #474445,
	stone #767676,
	sardine #DFE4E8,
	ice #F1F9FF,
	milk #FFF,
	avocado #277457,
	pea #28CD94,
	mint #CCFFEC,
	cherry #DA2400,
	watermelon #FF5844,
	salmon #FFCED7,
	banana #FFF5CB
*/


primary-blue = #0063FB
secondary-blue = #06BEFB
toothpaste = #B6F0FF
licorice = #474445
stone = #767676
sardine = #DFE4E8
ice = #F1F9FF
milk = #FFF
avocado = #277457
pea = #28CD94
mint = #CCFFEC
cherry = #DA2400
watermelon = #FF5844
salmon = #FFCED7
banana = #FFF5CB
/*
finncolors = 'primary-blue' #0063FB,
'secondary-blue' #06BEFB,
'toothpaste' #B6F0FF,
'licorice' #474445,
'stone' #767676,
'sardine' #DFE4E8,
'ice' #F1F9FF,
'milk' #FFF,
'avocado' #277457,
'pea' #28CD94,
'mint' #CCFFEC,
'cherry' #DA2400,
'watermelon' #FF5844,
'salmon' #FFCED7,
'banana' #FFF5CB
*/